xsd_01Feb/xsd_01Feb/SelectFlightRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://com.delta.schemas/shopping/"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://com.delta.schemas/shopping/">


	<include schemaLocation="ShoppingMetaData.xsd"></include>





	<complexType name="SelectReqParameter">
		<sequence>
			<element name="PayLoad" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
		<attribute name="TransactionID" type="string" use="optional"></attribute>
	</complexType>
</schema>